* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    display: flex;
    height: 100vh;
    background: url('/img/backcammy.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: white;
}

.menu a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 8px;
    background: rgb(1, 87, 5);
    opacity: .6;

}

a:hover {
    background: rgb(255, 255, 255);
    color: rgb(1, 87, 5);
    border: 2px solid rgb(1, 87, 5);
    transition: .3s;
}



.titulo {
    border: 3px solid rgb(255, 187, 0);
    position: absolute;
    padding: 15px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 22vh;
    left: 72vw;
    z-index: -1;
}

p {
    color: white;
    font-size: 25px;
    font-family: HIRO MISAKE;
}

.biografia {
    position: absolute;
    padding: 15px;
    top: 36vh;
    left: 52vw;
    padding: 20px;
    padding-right: 10px;
    border-radius: 7px;
    border: 2px solid rgb(255, 187, 0);
    background-color: rgba(0, 0, 0, 0.8);
    max-height: 55%;
    max-width: 40%;
    overflow-y: scroll;

}

h2 {
    color: white;
    margin-bottom: 20px;
}

.biografia p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 30px;
    line-height: 150%;
}

::-webkit-scrollbar {
    background-color: black;
    width: 10px;
    border: 1px solid white;
    border-radius: 8px;
    padding-right: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 187, 0);
    border: 2px solid black;
    border-radius: 10px;
}



/* @media screen and (max-width: 1024px){

    .biografia{
        border: 2px solid red;
        max-width: 45vw;
    }
}

@media screen and (max-width: 550px){

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 320vw 100vh;
    background-position-x: -590px;
  }


  .titulo{
    position: absolute;
    left: 7vw;
    top: 25vh;
    width: 85vw;
    line-height: 35px ;
  }

  .biografia{
    position: absolute;
    top: 39vh;
    left: 8vw;
    max-width: 84vw;

  }

  .logo{
    position: absolute;
    top: 9vh;
    font-size: 40px;
  }

  .menu{
    position: absolute;
    margin-top: 19vh;
    padding: 20px;
    margin-left: 55vw;
  }

  .menu a {
    font-size: 27px;
    opacity: 9;
    color: #fff;
    background: red;
  }
}


@media screen and (max-width:375px){

    header{

        display: flex ;
        flex-direction: column;
    }

    .menu{
        position: absolute;
        width: 95vw;
        top: -4vh;
    }

}

@media screen and (max-width: 320px){

    .titulo{
        text-align: center;
        padding: 10px;
    }

}

@media screen and (max-width: 768px){

    .biografia{
        border: 2px solid red;
        max-width: 65%;
    }

    .titulo{
        border: 2px solid red;
        margin-left: 3vw;
    }

} */
/*
@media screen and (max-width: 550px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 320vw 100vh;
        background-position-x: -590px;
    }


    .titulo {
        position: absolute;
        left: 7vw;
        top: 25vh;
        width: 85vw;
        line-height: 35px;
    }

    .biografia {
        position: absolute;
        top: 39vh;
        left: 8vw;
        max-width: 84vw;

    }

    .logo {
        position: absolute;
        top: 9vh;
        font-size: 40px;
    }

    .menu {
        position: absolute;
        margin-top: 19vh;
        padding: 20px;
        margin-left: 55vw;
    }

    .menu a {
        font-size: 27px;
        opacity: 9;
        color: #fff;
        background: red;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){

    .titulo{
        margin-top: 2rem;
        text-align: center;
        padding: 10px;
    }

    .menu a{
        margin-top: 1rem;
        margin-left: -1.2rem ;
        background: red;
    }

    .logo{
        width: 10rem;
        margin-top: -3rem;
        padding-left: 1.1rem;
        text-align: center;

    }

    .biografia{
        margin-top: 2rem;
    }

}

@media screen and (max-width: 425px) {

    .menu a {
        position: absolute;
        left: 6vw;
        top: -1vh;
    }

    .logo {
        position: absolute;
        left: 13vw;
    }

}

@media screen and (max-width: 768px) {

    .biografia {
        max-width: 85%;
    }

    .menu {
        margin-left: 21vw;
        margin-top: 35vh;
    }

    .menu a {
        background: red;
    }

    .logo {
        margin-left: 7vw;
    }

    .titulo {
        margin-left: .7vw;
    }

}

@media screen and (max-width: 1024px) {

    .menu a {
        background: red;
    }

}

@media screen and (min-width: 1440px) {

    .menu a {
        background: red;
    }

}
*/
